.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: #4caf50;
    color: white;
    font-weight: 600;
    font-size: 16px;
    /* Ajusta el tamaño si es necesario */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    animation: slideDown 0.5s ease-in-out, fadeOut 0.5s 2.5s ease-in-out forwards;
    margin-top: 100px;
}

.close-button {
    appearance: none;
    padding: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@keyframes slideDown {
    0% {
        top: -50px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}