.reservation-container {
    padding: 3rem 0;
    background-color: #495e57;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 20px;
    color: #f4ce14;
}