header {
    justify-content: space-between;
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
    max-width: 65rem;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

li {
    list-style-type: none;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

ul li {
    margin-left: 1rem;
    color: inherit;
}

ul li a {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    font-family: Karla;
    font-size: 1.1em;
}

ul li:hover a {
    text-decoration: underline;
}

ul li.active a {
    background-color: #495e57;
    color: white;
}

.menu-toggle {
    display: none;
}

.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 767px) {
    header {
        justify-content: space-between;
        background-color: white;
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        height: 4rem;
        width: -webkit-fill-available;
        margin: 0 auto;
        position: fixed;
        margin-bottom: 96px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-list {
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 1rem;
        display: none;
    }

    .nav.open .menu-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    ul li a {
        margin-left: 1rem;
        color: #495e57;
        text-decoration: none;
        font-family: Karla;
        font-size: 1.1em;
    }
}