.footer {
    background: #495e57;
    height: 100%;
    width: 100%;
}

.footer-container {
    display: grid;
    padding: 5rem 0;
    max-width: 65rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    grid-template-areas: "icon navigation contact social";
    grid-column-gap: 1.5rem;
}

.footer-logo {
    height: 170px;
    object-fit: contain;
}

.footer-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 0 0 1rem 0;
}

.footer-navigation {
    grid-area: navigation;
    align-self: start;
}

.footer-contact {
    grid-area: contact;
}

.footer-social {
    grid-area: social;
}

.footer-item {
    margin: 0.5rem 0;
    text-decoration: none;
    color: white;
    display: flex;
}

.footer-item:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .footer {
        background: #495e57;
        height: 100%;
        width: 100%;
    }

    .footer-container {
        display: grid;
        padding: 2rem 2rem;
        margin: 0 auto;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
        grid-template-areas:
            "icon"
            "navigation"
            "contact"
            "social";
        grid-column-gap: 0.25rem;
        gap: 1.5rem;
        box-sizing: border-box;
    }

    .footer-logo {
        height: 170px;
        object-fit: contain;
    }

    .footer-title {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
        margin: 0 0 1rem 0;
    }

    .footer-item {
        margin: 0.5rem 0;
        text-decoration: none;
        color: white;
        display: flex;
    }

}